@tailwind base;
@tailwind components;
@tailwind utilities;

.nprogress-logo {
  display: inline-block;
  width: 200px;
  height: 30px;
  border: solid 4px #000;
  border-radius: 999px;
  position: relative;
}

.nprogress-logo:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  background: #000;
  border-radius: 999px;
  animation: progress 14s infinite;
}

.fade {
  transition: all 300ms linear 700ms;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
}

@keyframes progress {
  0% {
    width: 5%;
  }
  250% {
    width: 40%;
  }
  50% {
    width: 95%;
  }
  75% {
    width: 60%;
  }
  100% {
    width: 5%;
  }
}

